{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" href="{% static 'expenses/dwelling.css' %}">
</head>

<h1>{{ dwelling }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'dwelling_update' dwelling.id %}" method="post">
{% csrf_token %}

<fieldset><legend>Dwelling</legend>
<label class="dwelling">Type:</label>
<input class="dwelling" type="text" name="type{{ dwelling.id }}" value="{{ dwelling.type }}" /><br/>
<label class="dwelling">Address:</label>
<input class="dwelling" type="text" name="address{{ dwelling.id }}" value="{{ dwelling.address }}" /><br/>

{% for room in dwelling.room_set.all %}
    <fieldset class="room"><legend class="room">Room</legend>
    <label class="dwelling">Name:</label>
    <input class="dwelling" type="text" name="room_name{{ room.id }}" value="{{ room.name }}" /><br/>

    {% for appliance in room.appliance_set.all %}
        <fieldset class="appliance"><legend class="appliance">Appliance</legend>
        <label class="dwelling">Type:</label><input type="text" class="dwelling" name="appliance_type{{ appliance.id }}" value="{{ appliance.type }}" /></br>
        <label class="dwelling">Make:</label><input type="text" class="dwelling" name="appliance_make{{ appliance.id }}" value="{{ appliance.make }}" /></br>
        <label class="dwelling">Model:</label><input type="text" class="dwelling" name="appliance_model{{ appliance.id }}" value="{{ appliance.model }}" /></br>
        <label class="dwelling">Year:</label><input type="text" class="dwelling" name="appliance_year{{ appliance.id }}" value="{{ appliance.year }}" /></br>
        </br>

        {% for electricity_usage in appliance.electricityusage_set.all %}
            <fieldset class="electricity_usage"><legend class="electricity_usage">Electricity Usage</legend>
            <input type="text"  class="electricity_usage" name="electricity_usage_watts{{ electricity_usage.id }}" value="{{ electricity_usage.watts }}" />
            <label>Watts</label>
            <input type="text" class="electricity_usage" name="electricity_usage_time_minutes{{ electricity_usage.id }}" value="{{ electricity_usage.time_minutes }}" />
            <label>minutes per use, </label>
            <input type="text" class="electricity_usage" name="electricity_usage_occurrences_per_week{{ electricity_usage.id }}" value="{{ electricity_usage.occurrences_per_week }}" />
            <label>times per week</label></br>
            </fieldset>
        {% endfor %}

        {% for water_usage in appliance.waterusage_set.all %}
            <fieldset class="water_usage"><legend class="water_usage">Water Usage</legend>
            <input type="text"  class="water_usage" name="water_usage_litres{{ water_usage.id }}" value="{{ water_usage.litres }}" />
            <label>Litres</label>
            <input type="text" class="water_usage" name="water_usage_occurrences_per_week{{ water_usage.id }}" value="{{ water_usage.occurrences_per_week }}" />
            <label>times per week</label></br>
            </fieldset>
        {% endfor %}
        </fieldset>
    {% endfor %}
    </fieldset>
{% endfor %}
</fieldset>

<input type="submit" value="Confirm" />
</form>
</html>