form {
    width: 80%;
    margin: 0 auto;
}

.button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

label.dwelling, input.dwelling {
    /* in order to define widths */
    display: inline-block;
}

label.dwelling {
    width: 5%;
    /* positions the label text beside the input */
    text-align: right;
}

label.dwelling + input.dwelling {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 20% 0 4%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    font-family: Verdana, sans-serif;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=text].appliance {
    width: fit-content;
}

input[type=text].electricity_usage {
    width: fit-content;
}

input[type=text].water_usage {
    width: fit-content;
}

fieldset{
    margin: 20px 0px 10px 0px;
    border: 3px solid BurlyWood;
    padding: 20px;
    background: BurlyWood;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
    font-family: Verdana, sans-serif;
}

fieldset.room{
    background: NavajoWhite;
    border: 3px solid NavajoWhite;
}

fieldset.appliance{
    background: Khaki;
    border: 3px solid Khaki;
}

fieldset.electricity_usage {
    background: DarkSeaGreen;
    border: 3px solid DarkSeaGreen;
}

fieldset.water_usage {
    background: Turquoise;
    border: 3px solid Turquoise;
}

fieldset legend{
    color: black;
    border: 3px solid BurlyWood;
    background: white;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

fieldset legend.room {
    border: 3px solid NavajoWhite;
}

fieldset legend.appliance {
    border: 3px solid Khaki;
}

fieldset legend.electricity_usage {
    border: 3px solid DarkSeaGreen;
}

fieldset legend.water_usage {
    border: 3px solid Turquoise;
}